body{
    --background-color: lightblue;
}
header{
    color: rgb(255, 255, 255);
    background: rgb(66, 112, 185);
    padding: 2px;
}
form{
  position: relative;
  width: 50%;
  top: 50px;
  left: 200px;
  right: 400px;
}
label{
    padding: 5px;
}
nav li {
    display: inline;
    margin: 0 0 0 5px;
    padding: 0 5px;
}
nav a {
    text-transform: uppercase;
    color: #fffdfd;
    font-weight: bold;
    font-size: 13px;
    text-decoration: none;
}
nav {
    position: absolute;
    top: 10px;
    right: 0;
}
.header{
    position: relative;
    width: 95%;
    margin: 0 auto;
}
.parteum label{
    padding: 5px 12px;
}
.parteum input{
    width: 70%;
}
.partetres label{
    padding: 5px 13px;
}
.partetres input{
    width: 70%;
}
.partedois label{
    margin-left: 8px;
   padding: 5px 13px 0 0 ;

}
.genero-select label{
    margin-left: 5px;

}
.btn{
    display: inline;
    border: none;
}
.btns{
    background-color: rgb(66, 112, 185);
    color: rgb(254, 254, 255);
    border: none;
    padding: 0 40px;
    border-right: 1px solid rgb(245, 245, 255);
}
svg{
    padding: 2px;
}
.linha{
   width: 100%;
   border: 1px dotted rgb(255, 255, 255);
}
.local{
    font-size: 15px;
    padding: 3px;
    padding-left: 30px;
    color: rgb(89, 130, 207);
}
.servidor{
    font-size: 15px;
    color: brown;
    padding: 3px;
    padding-right: 10px;
}
.informacoes{
    display: inline-flex;
}
.linha2{
    margin-left: 20px;
    width: 70%;
    border: 1px solid rgb(66, 112, 185);
}
.titulo{
    margin-top: 30px;
    margin-left: 60px;
    color: rgb(66, 112, 185);
    font-size: 30px;
}
.local1{
    margin-left: 500px;
    font-size: 12px;
    color: rgb(66, 112, 185);
    font-style: italic;
}
.input{
    position: relative;
    left: 83px;
    bottom: 75px;
}
form select{
    margin-left: 7px;
    width: 240px;
    padding: 5px 11px 0 0;
    margin-top: 4px;
}
.btn-principal{
    position: absolute;
    right: 40px;
    bottom: 70px;
}
.btn-enviar{
    width: 125px;
    border-radius: 5px;
    margin-left: 5px;
}
.linha-btn{
    width: 76%;
    border: 1px solid rgb(206, 203, 201);
    position: absolute;
    bottom: 80px;

}
.checkbox{
    position: absolute;
    right: 40px;
    bottom: 98px;
}
.parteunica{
    position: relative;
    left: 340px;
    bottom: 28px;
}
.genero-select{
    position: relative;
    bottom: 40px;

}
form p {
    position: relative;
    bottom: 0;
    left: 5px;
}
.idioma{
    position: relative;
    bottom: 32px;
    left: 1px;
}
form h6{
    color: brown;
    position: relative;
    left: 75px;
    font-style: italic;
    font-size: 15px;
}
form span{
    color: brown;
}